<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partidos</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap.css')}}"
    />
  </head>
  <body>
    <h1>Partidos políticos que têm parlamentares em exercício na Câmara</h1>
    <h3>Data {{date}}</h3>
    {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }} {% endfor %}
  </body>
</html>
